.input-fields {
  display: none;
  width: 100%;
  font-size: 16px;
}

.instructions {
  background-color: #f7f7f7;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.input-box {
  background-color: #f7f7f7;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  font-size: 2vh;
}

.input-fields {
  transition: all 0.5s ease;
  max-height: 300px;
  overflow-y: auto;
  font-size: 2vh;
}

.hide-instructions .input-fields {
  max-height: none;
}
